# dot dirs
.vscode/launch.json
.vscode/.cortex-debug.registers.state.json
.eide/
.eide.usr.ctx.json
.git
.settings

# project out
build
bin
obj
out

# eide template
*.ept
*.eide-template

# 不储存keil生成的文件
MDK-ARM/*